.App{
  background-image: url('../App/background_cover.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  width: auto;
  text-align: center;
  background-size: cover;
  color: #d8c8c6;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;;
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; */